<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ICarRentalService" />
            </netTcpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICarRentalService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4040/ICarRentalService" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICarRentalService" contract="CarRentalService.ICarRentalService"
                name="WSHttpBinding_ICarRentalService">
                <identity>
                    <userPrincipalName value="YMER\z" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:4041/ICarRentalService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ICarRentalService"
                contract="CarRentalService.ICarRentalService" name="NetTcpBinding_ICarRentalService">
                <identity>
                    <userPrincipalName value="YMER\z" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>